{
  "PublisherId": "CN=E9F1B02E-812F-4FD4-A306-1B951A15B8BF",
  "PublisherDisplayName": "Reboot Arcade",
  "PackageIdentityName": "52141RebootArcade.Glitchball",
  "DisplayName": "Glitchball",
  "AppId": "9PMS4H5B8T09",
  "ProductFamilyName": "52141RebootArcade.Glitchball_vah2w5g21hgjp",
  "PrimaryServiceConfigId": "00000000-0000-0000-0000-00007e54d611",
  "TitleId": 2119489041,
  "Sandbox": "MSGQTM.58",
  "XboxLiveCreatorsTitle": true
}